/* Portfolio css */
*{
    margin: 0px;
    padding: 0px;
}
html{
    padding: 0px;
    margin: 0 auto;
}
body {
    margin: 0px auto;
    padding: 0px;
}
p {
    margin: 0px;
}
h1,h2,h3,h4, h5,h6{
    margin: 0px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
button:focus-visible, input:focus-visible, select:focus-visible, textarea:focus-visible{
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
img{
    width:100%;
    display:block;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: transparent;
}
a, button{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
._toggler {
    box-shadow: none !important;
    border: none !important;
}
/* ._toggler.collapsed .navbar-toggler-icon {
    background-image: url("../img/header-r8-menu-ic.svg") !important;
    transition: 0.1s all ease-in-out;
    max-width: 18px;
}
._toggler .navbar-toggler-icon {
    background-image: url("../img/header-r8-menu-cross.svg") !important;
    transition: 0.1s all ease-in-out;
    max-width: 18px;
} */
.dropdown-toggle::after {
    display: none;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* css */

._light_mode {
    --nav-bg: #36363a99;
    --home-bg : rgba(255,255,255,0.6);
    --home-cnt: #2e2e2e;
    --home-txt1: #252424;
    --home-socialbg: transparent;
    --page-title: #d3d3d4;
    --about-txt: #000;
}

._dark_mode {
    --nav-bg: #323232;
    --home-bg: #000;
    --home-txt1: #fff;
    --home-cnt: #fff;
    --home-socialbg: #fff;
    --page-title: #d3d3d4;
    --about-txt: #fff;
}

.navbar.navbar-expand-lg.navbar-dark._home_portfolio_navbar {
    z-index: 111;
}

._home_portfolio_navbar {
    position: fixed !important;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
}

._home_portfolio_nav_ul {
    display: block !important;
}
._home_portfolio_nav_li {
    display: inline-block;
    margin-bottom: 10px;
}
._home_portfolio_nav_li:last-child {
    margin-bottom: 0px;
}
._home_portfolio_nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: var(--nav-bg);
    border-radius: 50%;
    transition: .2s all ease-in-out;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
._home_portfolio_nav_link.active, ._home_portfolio_nav_link:hover {
    background-color: #060773;
}

._home_portfolio_nav_link_txt {
    position: absolute;
    content: "";
    height: 55px;
    background-color: #060773;
    top: 0;
    right: 0px;
    border-radius: 30px 22px 22px 30px;
    visibility: hidden;
    z-index: -1;
    transition: .2s all ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 34px 0px 30px;
    opacity: 0;
}
._home_portfolio_nav_link:hover ._home_portfolio_nav_link_txt {
    visibility: visible;
    right: 12px;
    opacity: 1;
}

._home_portfolio_wrapper {
    background-color: var(--home-bg);
    padding: 60px 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11;
}
._home_portfolio_wrapper::before {
    position: absolute;
    content: "";
    background-color: #195991;
    width: 40%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    clip-path: polygon(0 0, 35% 0, 66% 53%, 37% 99%, 0 99%, 0% 70%, 0% 30%);
}
._home_portfolio_wrapper::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    clip-path: polygon(0 0, 35% 0, 66% 53%, 37% 99%, 0 99%, 0% 70%, 0% 30%);
    background: linear-gradient(343deg, rgb(6 7 115) 0%, rgb(83 83 108) 54%, rgba(20,165,194,1) 100%);
}

._home_portfolio_elipse01 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}
._home_portfolio_elipse02 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
}
._home_portfolio_elipse03 {
    position: absolute;
    top: 40%;
    left: 20px;
    width: 33px;
    height: 33px;
}
._home_portfolio_elipse04 {
    position: absolute;
    top: 60%;
    left: 80px;
    width: 80px;
    height: 80px;
}

._home_portfolio_left_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px 0;
}

._home_portfolio_img {
    position: relative;
}
._home_portfolio_img_div_button_ic {
    position: absolute;
    bottom: 0;
    right: 40px;
    z-index: 11;
}
._home_portfolio_img_div_button {
    width: 52px;
    height: 52px;
    background: #dddddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

._home_portfolio_left_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 30px 0px 30px #ddd;
}

._home_portfolio_img_div {
    width: 300px;
    height: 300px;
    background-color: #d3d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

._home_portfolio_img_tag {
    width: 280px;
    height: 280px !important;
    object-fit: cover;
    border-radius: 50%;
}

._home_portfolio_social_link_heading_txt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
    color: var(--home-txt1);
    text-transform: capitalize;
}

._home_portfolio_social_link_nav_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
    gap: 0 10px;
}

._home_portfolio_cnt {
    margin: 0 80px 0 0;
}

._home_portfolio_cnt_tlt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2;
    text-align: right;
    margin-bottom: 8px;
    color: #060773;
}

._home_portfolio_cnt_tlt1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    text-align: right;
    margin-bottom: 8px;
    color: var(--home-txt1);
}

._home_portfolio_cnt_para {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    text-align: right;
    color: var(--home-cnt);
    margin: 0 0 24px 0;
}

._home_portfolio_cnt_btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.form-control {
    padding: .6rem .7rem !important;
}

._home_portfolio_cnt_btn1, ._home_portfolio_cnt_btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 190px;
    height: 54px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #fff !important;
    background-color: #060773;
    border-color: transparent;
    text-transform: capitalize;
    border-radius: 8px;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

._home_portfolio_cnt_btn1:hover, ._home_portfolio_cnt_btn2:hover {
    background-color: #1011ac;
}
._width100 {
    width: 100%;
    border-radius: 6px !important;
}

._home_portfolio_social_link_nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: var(--home-socialbg);
    transition: .2s all ease-in-out;
}
._home_portfolio_social_link_nav_link:hover {
    background-color: #1011ac;
}
._home_portfolio_social_link_nav_link:hover svg path {
    fill: #fff;
}


/* about page */

._about_portfolio_wrapper {
    background-color: var(--home-bg);
    padding: 60px 0;
    /* height: 100vh;
    display: flex;
    align-items: center; */
}

._page_portfolio_title {
    position: relative;
    z-index: 1;
    padding: 40px 0;
}
._page_portfolio_title1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 54px;
    line-height: 1.1;
    text-align: center;
    color: #868689;
    text-transform: uppercase;
}
._page_portfolio_title1_span {
    color: #060773;
}
._page_portfolio_title_bg_span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 96px;
    line-height: 1.3;
    text-align: center;
    color: var(--page-title);
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.199;
    letter-spacing: 6px;
}

._about_portfolio_left_info_txt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 12px;
    color: var(--about-txt);
    text-transform: capitalize;
}

._about_portfolio_left_info_list_ul {
    margin: 0;
    padding: 0;
}

._about_portfolio_left_info_list_li_para {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 16px;
    color: var(--about-txt);
}

._about_portfolio_left_info_list {
    margin-bottom: 32px;
}

._about_portfolio_left_info ._home_portfolio_cnt_btns {
    justify-content: flex-start;
}

._about_portfolio_r8_job_info_txt1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 4px;
    color: var(--about-txt);
}
._about_portfolio_r8_job_info_txt2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 14px;
    color: var(--about-txt);
}

._project_portfolio_single_card {
    border-radius: 8px;
    padding: 12px 12px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: .2s all ease-in-out;
    box-shadow: 5px -5px 13px 1px #d3d3d4;
    background-color: #fff;
    margin-bottom: 24px;;
}
._project_portfolio_card_img_tag {
    border-radius: 8px;
}
.modal01 {
    background: #333;
    color: #fff;
}

._project_portfolio_card_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;
}
._project_portfolio_card_modal_btn {
    background: transparent;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
._project_portfolio_card:hover ._project_portfolio_card_modal {
    opacity: 1;
    visibility: visible;
}

._projects_card_modal_portfolio_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(48 46 46 / 80%);
    z-index: 1;
}
._projects_card_modal_portfolio_wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    padding: 60px 20px;
    border-radius: 20px;
    width: 600px;
    z-index: 1;
}

._project_portfolio_card_content_link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #060773;
    display: block;
}

/* contact page */
._contact_portfolio_wrapper {
    background-color: var(--home-bg);
    padding: 60px 0px;
    height: 100vh;
    display: flex;
    align-items: center;
}

._contact_portfolio_form_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-bottom: 14px;
}

._contact_portfolio_form_list_subject {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 14px;
}

._contact_portfolio_form_list1 {
    flex: 1 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
._contact_portfolio_form_textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    padding: .375rem .75rem;
    resize: none;
}

._contact_portfolio_form_list1_label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    text-align: left;
    color: #000000;
}